# Compiled Binaries and Objects
*.o
*.ko
*.cmd
.tmp_versions
/kernel/linux-2.6.16-star/vmlinux
/kernel/linux-2.6.16-star/System.map

# DO NOT ignore prebuilt objects in toolchain and vendor proprietary blobs
!tools/**
!apps/WebServer/*.o
!*.lds*

# Output and Firmware Images
output/
images/
_wlan.tar.gz

# Logs & Temporary Files
log.log
*.tmp
*.bak
*.swp
*~
.DS_Store

# Large redundant archives (>100MB, extracted in tools/arm-uclibc-3.4.6)
toolchain/arm-uclibc-3.4.6.tgz
